body {
  font-family: "Myriad Pro";
}
@media only screen and (min-width: 1200px) {
  body .mob-menu {
    display: none;
  }
  body .mob-search {
    display: none;
  }
  body .mob-close {
    display: none;
  }
  body .container-image {
    padding: 15em;
  }
  body .top-bar {
    padding: 2em 13em;
  }
  body .logo {
    margin: 0em 1em;
  }
  body .top-bar {
    padding: 2em 13em;
  }
  body .top-nav {
    background: none;
    position: absolute;
    display: block;
    width: 50%;
    left: 34em;
    top: 1em;
    height: 20%;
    margin: 0;
    padding: 0;
  }
  body .top-nav-link:hover {
    font-size: 20px;
  }
  body .top-menu {
    display: none;
  }
  body .top-nav-link {
    font-size: 22px;
  }
  body .top-nav-item {
    margin: 3em 1em 0em 0;
    display: inline-block;
  }
  body .icon-menu {
    display: none;
    padding: 1em;
  }
  body .top-nav-search {
    position: relative;
    top: 22em;
    left: -10.5em;
    height: none;
    background: none;
    margin: 0;
    width: 60%;
    padding: 0em;
    margin: 0em;
  }
  body .box-search {
    width: 80%;
  }
  body .mob-search-small {
    font-size: 2em;
    float: none;
    padding: 0em;
    margin: 0em;
  }
  body .category {
    padding: 0em 7em 0em 1em;
  }
}
@media only screen and (max-width: 767px) {
  body .mob-menu {
    display: none;
  }
  body .mob-search {
    display: none;
  }
  body .mob-close {
    display: none;
  }
  body .container-image {
    padding: 15em;
  }
  body .top-bar {
    padding: 2em 13em;
  }
  body .logo {
    margin: 0em 1em;
  }
  body .top-bar {
    padding: 2em 13em;
  }
  body .top-nav {
    background: none;
    position: absolute;
    display: block;
    width: 50%;
    left: 34em;
    top: 1em;
    height: 20%;
    margin: 0;
    padding: 0;
  }
  body .top-nav-link:hover {
    font-size: 20px;
  }
  body .top-menu {
    display: none;
  }
  body .top-nav-link {
    font-size: 22px;
  }
  body .top-nav-item {
    margin: 3em 1em 0em 0;
    display: inline-block;
  }
  body .icon-menu {
    display: none;
    padding: 1em;
  }
  body .top-nav-search {
    position: relative;
    top: 22em;
    left: -10.5em;
    height: none;
    background: none;
    margin: 0;
    width: 60%;
    padding: 0em;
    margin: 0em;
  }
  body .box-search {
    width: 80%;
  }
  body .mob-search-small {
    font-size: 2em;
    float: none;
    padding: 0em;
    margin: 0em;
  }
  body .category {
    padding: 0em 7em 0em 1em;
  }
}

.mob-menu {
  color: #fff;
  font-size: 1.7em;
  display: inline-block;
}

.mob-search {
  color: #fff;
  font-size: 1.7em;
  float: right;
}

.mob-close {
  color: #fff;
  font-size: 1.7em;
  float: right;
  margin: -0.8em 1em 0em 0em;
}

.container-fluid {
  margin: 0;
  padding: 0;
  font-family: "Myriad Pro";
}

.top-bar {
  padding: 1.5em 2em;
  position: relative;
}

.logo {
  max-width: 54px;
  margin: 0 6.3em;
}

.top-nav {
  position: fixed;
  top: 0;
  left: -25em;
  width: 80%;
  height: 100%;
  padding: 3em 0 0 0;
  background: #364E51;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
  float: right;
  margin: 0;
}

.top-nav-item {
  margin: 2em 1em;
  display: block;
}

.top-nav-link {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}

.top-nav-link:hover {
  color: #F3B61C;
}

.icon-menu {
  padding: 0em 2em;
}

.top-nav-search {
  position: fixed;
  top: 0;
  left: 24em;
  width: 80%;
  height: 100%;
  padding: 3em 0 0 0;
  background: #364E51;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

.box-search {
  width: 73%;
  height: 2.5em;
  border-radius: 0.7em;
  color: #fff;
  background-color: transparent;
  border: 0.1em solid #fff;
  color: #fff;
  margin: 1em;
}

.mob-search-small {
  color: #fff;
  font-size: 1.5em;
  float: right;
  margin: -2em 1em 0 0;
}

.ul-search {
  padding: 0;
}

.category {
  padding: 0em 4em 0 1em;
}

.top-nav-search-link {
  text-decoration: none;
  font-size: 14px;
  color: #0D9CA4;
}

.top-nav-search-link:hover {
  color: #F3B61C;
}

.top-nav-search-item {
  margin: 0em 0.1em;
  display: inline-block;
}

.icon-next-main {
  margin-left: 1em;
}

.icon-back-main {
  margin-right: 1em;
}

.special-section-main {
  background-color: #364E51;
  padding: 4em 2em;
  color: #fff;
  border-radius: 0;
}

.img-special-section-main {
  max-width: 170px;
}

.col-special-text-main {
  padding: 1em 0em;
}

h1 {
  font-size: 21px;
  font-weight: 700;
}

h2 {
  font-size: 21px;
  font-weight: 700;
}

h3 {
  padding: 0.5em 0 0 0;
  font-size: 18px;
  font-weight: 400;
}

.special-description-main {
  font-size: 12px;
  font-weight: 100;
}

.special-buttom-main {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 2em;
}

.special-buttom-main:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.explore-section-main {
  background-color: #0D9CA4;
  padding: 4em 2em;
  margin: 0;
  color: #fff;
  text-align: center;
}

.card-explore-section-main {
  background-color: #0D9CA4;
  border: none;
  padding: 0;
}

.img-explore {
  max-width: 112px;
}

.title-explore {
  padding: 0.5em;
}

.section-description {
  font-size: 13px;
  font-weight: 100;
}

.explore-hikes-buttom-main {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 11em;
}

.explore-hikes-buttom-main:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.container-img-explore {
  margin: 0 0 1em 0;
}

.container-img-camping {
  border: 0;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  padding: 0em 0.001em 1em 0;
}

.camping-section-main {
  background-color: #364E51;
  padding: 4em 2em;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
}

.img-camping {
  max-width: 160px;
}

.camping-buttom-main {
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  border: 0.1em solid #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em 0;
  margin: 1em;
}

.camping-buttom-main:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.container-img-hikes {
  margin: 0;
}

.col-img-hikes-main {
  padding: 0 0 1em;
}

.hikes-section-main {
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  background-color: #364E51;
  border-radius: 0;
  color: #fff;
  padding: 0 2em 4em 2em;
  border: 0;
}

.img-chirripo {
  max-width: 160px;
}

.img-chirripo-principal {
  max-width: 159px;
}

.card-night-section-main {
  background-color: #364E51;
  border: none;
  padding: 0;
}

.meteor-icon {
  position: absolute;
  top: 118em;
  left: 2em;
  max-width: 66px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../imgs/icon/down.png);
}

.accordion-button::after {
  background-image: url(../imgs/icon/up.png);
}

.moon-icon {
  position: absolute;
  top: 118em;
  left: 9.5em;
  max-width: 66px;
}

.stars-icon {
  position: absolute;
  top: 118em;
  left: 17em;
  max-width: 66px;
}

.night-section-light {
  padding: 2em;
  color: #fff;
  background-color: #0D9CA4;
  text-align: center;
}

.night-section-dark {
  padding: 3em 2em;
  background-color: #364E51;
  color: #fff;
  text-align: center;
}

.card-night-section-main {
  background-color: transparent;
  border: none;
  padding: 0;
}

.acordion-buttom-night {
  color: #fff;
  background-color: #364E51;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.acordion-buttom-night:focus {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.acordion-buttom-night:not(.collapsed) {
  color: #F3B61C;
  background-color: #364E51;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container-buttom-main {
  background: #364E51;
  margin: auto;
  padding: 0em 2em 4em;
}

.night-description-main {
  font-size: 12px;
  font-weight: 100;
}

.container-specific-events {
  background: #364E51;
  padding: 2em;
  color: #fff;
}

.img-specific-event {
  max-width: 183px;
}

.title-specific-event {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}

.category-link-specific-event {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
}

.category-link-specific-event:hover {
  color: #F3B61C;
}

.description-specific-event {
  font-size: 12px;
  font-weight: 100;
}

.btn-register-specific-event {
  font-size: 12px;
  font-weight: 400;
  border: 0.1em solid #fff;
  border-radius: 0.5em;
  max-width: 120px;
  margin: auto;
  color: #fff;
  background: none;
}

.btn-register-specific-event:hover {
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
  background: none;
}

.btn-register-specific-event:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-register-model {
  font-size: 16px;
  font-weight: 580;
  border: 0.1em solid #fff;
  border-radius: 0.5em;
  background: none;
}

.btn-register-model:hover {
  background: none;
  color: #F3B61C;
  border: 0.1em solid #F3B61C;
}

.icon-back-specific {
  margin-top: 2.5em;
  margin-right: 2em;
}

.icon-next-specific {
  margin-top: 2.5em;
  margin-left: 2em;
}

.container-related-event {
  padding: 1em 2em 0;
  background: #0D9CA4;
  max-width: 387px;
}

.title-related-event {
  color: #fff;
  font-size: 20px;
  background-color: #0D9CA4;
  font-weight: 400;
  padding: 1em;
  margin: 0;
  text-align: center;
}

.img-related-event {
  max-width: 76px;
  margin: auto;
}

.card-related-event {
  background: #0D9CA4;
  border: none;
  margin: 0.3em;
  padding: 0;
}

.text-card-related-event {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 100;
  padding: 0.5em;
  margin: 0;
}

.card-related-link {
  text-decoration: none;
}

.container-register {
  background: #0D9CA4;
  color: #fff;
}

.header-modal {
  padding: 1em;
}

.mob-close-modal {
  background: transparent;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 0;
  color: #fff;
  font-size: 1.7em;
  float: right;
  padding: 0.5em;
}

.white-logo {
  margin-left: 8.7em;
}

.title-register {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 1em 0.6em;
}

.description-register {
  font-size: 16px;
  font-weight: 100;
  margin: 1em 0 0 1em;
  padding: 0;
}

.box-spaces {
  width: 40%;
  height: 25%;
  border-radius: 0.7em;
  color: #fff;
  background-color: transparent;
  border: 0.1em solid #fff;
  color: #fff;
  margin-left: 5.9em;
}

.box-register-kids {
  width: 99px;
  height: 2.5em;
  border-radius: 0.7em;
  color: #fff;
  background-color: transparent;
  border: 0.1em solid #fff;
  color: #fff;
  margin: 0 2em 0;
}

.box-register-adults {
  width: 99px;
  height: 2.5em;
  border-radius: 0.7em;
  color: #fff;
  background-color: transparent;
  border: 0.1em solid #fff;
  color: #fff;
  margin: 0 0 0 1em;
}

.box-register-count {
  width: 95%;
  height: 2.5em;
  border-radius: 0.7em;
  color: #fff;
  background-color: transparent;
  border: 0.1em solid #fff;
  color: #fff;
}

.col-reset {
  padding: 0;
  margin: 0;
}

.spaces {
  font-size: 16px;
  font-weight: 100;
  margin: auto;
  margin-left: 6.6em;
}

.container-footer {
  padding: 0.5em;
  background: #0D9CA4;
  text-align: center;
}

.copyright {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.copyright:hover {
  color: #fff;
}

.container-footer-specific-section {
  padding: 0.5em;
  background: #364E51;
  text-align: center;
}