$tablet-portrait: '(max-width: 767px)';
$tablet-landscape: '(min-width: 768px) and (max-width: 979px)';
$large-desktop: '(min-width: 1200px)';
@mixin respond-to($tablet-portrait) {
    @media only screen and #{$tablet-portrait} {
        @content;
        .mob-menu{
            display: none;        
        }
        .mob-search{
            display: none;
        }
        .top-nav{
            background: none;
            position: absolute;
            display: block;
            width: 50%;
            left: 34em;
            top: 1em;
            height: 20%;
            margin: 0;
            padding: 0;       
        }
    }
}
@mixin respond-to($large-desktop) {
    @media only screen and #{$large-desktop} {
        @content;
        .mob-menu{
            display: none;        
        }
        .mob-search{
            display: none;
        }
        .mob-close{
            display: none;
        }
        .container-image{
            padding: 15em;
        }
        .top-bar{
            padding: 2em 13em;
        }
        //-----------------Logo------------------
        .logo{
            margin:0em 1em;
        }
        //-----------------Top bar----------------
        .top-bar{
            padding: 2em 13em;
        }
        .top-nav{
            background: none;
            position: absolute;
            display: block;
            width: 50%;
            left: 34em;
            top: 1em;
            height: 20%;
            margin: 0;
            padding: 0;       
        }
        .top-nav-link:hover{
            font-size: 20px ;
        }
        .top-menu{
            display: none;
        }
        .top-nav-link{
            font-size: 22px;
        }
        .top-nav-item{
            margin: 3em 1em 0em 0;
            display: inline-block;
        }
        .icon-menu{
            display: none;
            padding: 1em;
        }
        //--------------------Top-Search-----------------
        .top-nav-search{
            position: relative;
            top: 22em;
            left: -10.5em;
            height: none;
            background: none;
            margin: 0;
            width: 60%;
            padding: 0em;
            margin: 0em;
        }
        .box-search{ 
            width: 80%;
        }
        .mob-search-small{
            font-size: 2em;
            float: none;
            padding: 0em;
            margin: 0em;
        }
        .category{
            padding:0em 7em 0em 1em;
        }
    }
}