@import 'media-queries';


body{
    @include respond-to($large-desktop);
}
//----------Colors--------//
$white: #fff;
$dark-green: #364E51;
$orange: #F3B61C;
$blue-light:#0D9CA4;
//----------Tipografias-------//
$light: 100;
$regular: 400;
$semibold: 500;
$bold: 700;
$black: 800;
//----------Colors--------//
//----------Menu--------//
.mob-menu{
    color: #fff;
    font-size: 1.7em;
    display: inline-block;
}
.mob-search{
    color: #fff;
    font-size: 1.7em;
    float: right;
}
.mob-close{
    color: $white;
    font-size: 1.7em;
    float: right;
    margin: -.8em 1em 0em 0em;
}
//----------Menu--------//
//----------Top-image--------//
.image-header{
    background: url(../imgs/header.png);
    background-size: cover;
    max-width: 493px;
    max-height: 276px;
}
.container-image{
    padding: 7em;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
//----------Top-image--------//
//----------Top-navigation--------//
.top-bar{
    padding: 1.5em 2em;
    width: 100%;
}
.top-nav{
    position: fixed;
    top: 0;
    left: -25em;
    width: 80%;
    height: 100%;
    padding: 3em 0 0 0;
    background: $dark-green;
    transition: 0.5s;
    z-index: 2;
    float: right;
    margin: 0;
}
.top-menu{
    font-size: 35px;
    color: #fff;
    padding: .5em 2em 0em 2em;
    font-family: "Myriad Pro";
    display: block;
    text-align: center;
}
.top-nav-item{
    margin: 2.5em 1em;
    display: block;
}
.top-nav-link{
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    font-weight: $semibold;
}
.top-nav-link:hover{
    color: $orange ;
    font-size: 23px;
}
.icon-menu{
    padding: 0em 2em;
}
//----------Logo--------//
.logo{
    margin:0em 0em 0em 6.5em;
}
.img-logo{
    max-width: 54px;
    max-height: 42px;
}
//----------Search--------//
.top-nav-search{
    position: fixed;
    top: 0;
    left: 24em;
    width: 80%;
    height: 100%;
    padding: 3em 0 0 0;
    background: $dark-green;
    transition: 0.5s;
    z-index: 2;
    float: right;
    margin: 0;
}
.ul-search{
    margin: 0;
    padding: 0;
}
.box-search{
    width: 73%;
    height: 2.5em;
    border-radius: .7em;
    color: $white;
    background-color: transparent;
    border: 0.1em solid $white;
    color: $white;
    margin: 1em;
}
.mob-search-small{
    color: #fff;
    font-size: 1.5em;
    float: right;
    margin: 1.2em 1em 0 0;
}
.top-nav-search-link{
    text-decoration: none;
    font-size: 14px;
    color: #0D9CA4;
    font-family: "Myriad Pro";
}
.top-nav-search-link:hover{
    color: #F3B61C;
}
.top-nav-search-item {
    margin: 0em 0.1em;
    display: inline-block;
}
.category{
    padding: 0em 4em 0 1em;
    margin: 0em;
}
//----------Top-navigation--------//

//----------Special Event--------//
.special-section{
    background-color: $dark-green;
    padding: 4em 2em;
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
.col-special{
    margin: 0;
    padding: 0 1em 0 0 ;
}
.img-special-event-1{
    max-width: 167px;
    max-height: 237px;
}
.col-special-description{
    margin: 0;
    padding: 1.5em 0em;
}
h1{
    font-size: 21px;
    font-family:  "Myriad Pro";
    font-weight: $bold;
}
h2{
    font-size: 21px;
    font-family:  "Myriad Pro";
    font-weight: $bold;
}
h3{
    padding: .5em 0 0 0;
    font-size: 18px;
    font-family:  "Myriad Pro";
    font-weight: $regular;
}
.special-description{
    font-size: 12px;
    font-family:  "Myriad Pro";
    font-weight: $light;
    padding-bottom: 0 ;
}
.special-buttom{
    font-size: 12px;
    font-weight: $regular;
    color: $blue-light;
    border: .1em solid $blue-light;
    text-align: center;
    text-decoration: none;
    border-radius: .5em;
    padding: 0.5em 2em;
}
.special-buttom:hover{
    color: $orange;
    border: .1em solid $orange;
    font-size: 14px;
}
//----------Special Event--------//
//----------Explore Costa Rica--------//
.explore-cr-section{
    background-color: $blue-light;
    padding: 4em 2em;
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
.img-explore{
    max-width: 102px;
    max-height: 132px;
}
.explore-description{
    font-size: 13px;
    font-weight: $light;
}
.center{
    text-align: center;
}
.see-more-dark{
    padding: 1em ;
    text-align: center;
    text-decoration: none;
    color: $dark-green;
    font-size: 15px;
    font-weight: $bold;
}
.see-more-dark:hover{
    color: $orange;
    font-size: 17px;
}
.div{
    padding: 0;
    margin: 0;
}
//----------Explore Costa Rica--------//
//----------Camping--------//
.camping-section{
    background-color: $dark-green;
    padding: 4em 2em;
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
.img-camping{
    max-width: 151px;
    max-height: 124px;
}
.col-camping{
    padding: 0 .1em ;
}
.see-more-light{
    padding: 1em 2.5em;
    text-align: center;
    text-decoration: none;
    color: $blue-light;
    font-size: 15px;
    font-weight: $bold;
}
.camping-hikes-description{
    font-size: 14px;
    font-weight: $light;
}
.see-more-light:hover{
    color: $orange;
    font-size: 17px;
}
.text-col-camping{
    font-size: 16px;
    font-weight: $regular;
}
//----------Camping---------//
//----------Hikes--------//
.hikes-section{
    background-color: $dark-green;
    padding: 4em 2em;
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
.img-chirripo{
    max-width: 157px;
    max-height: 63px;
}
.img-chirripo-principal{
    max-width: 155px;
    max-height: 243px;
}
col{
    padding: 0;
    margin: 0;
}
//----------Hikes--------//
//----------Night--------//
.night-section{
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
.night-section-light{
    padding: 2em 2em 3em;
    background-color: $blue-light;
}
.night-section-dark{
    padding: 3em 2em;
    background-color: $dark-green;
}
.moon-icon{
    position: absolute;
    top: 133.5em;
    left: 9.5em;
    max-width: 66px;
    max-height: 66px;
}
.meteor-icon{
    position: absolute;
    top: 133.5em;
    left: 3em;
    max-width: 66px;
    max-height: 66px;
}
.stars-icon{
    position: absolute;
    top: 133.5em;
    left: 16.3em;
    max-width: 66px;
    max-height: 66px;
}
.night-description{
    font-size: 11px;
    font-weight: $light;
    padding: .5em;
}
.night-title{
    font-size: 25px;
    font-weight: $regular;
    padding-top: 1em;
}
.night-buttom{
    font-size: 12px; 
    font-weight: $regular;
    color: #0D9CA4;
    border: 0.1em solid #0D9CA4;
    margin: 0 1.5em;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}
.night-buttom:hover{
    color: $orange;
    border: .1em solid $orange;
}
//----------Night--------//
//----------Footer--------//
.image-footer{
    background: url(../imgs/footer.png);
    background-size: cover;
}
.container-image-footer{
    padding: 6em 2em 2em 2em;
}
.contact-footer{
    text-decoration: none;
    color: $white;
    font-family: "Myriad Pro";
    font-size: 18px;
    font-weight: $regular;
}
.contact-footer:hover{
    font-size: 20px;
    color: $orange;
}
.footer-icon{
    color: #fff;
    font-size: 2em;
    float: right;
    padding: 0 0 0 1em;
}
.footer-icon:hover{
    color: orange;
}
.footer-icon-small{
    color: #fff;
    font-size: 2em;
    float: right;
    padding: 0 0 0 1em;
}
.footer-icon-small:hover{
    color: orange;
}
//----------------------------------------------------Special Event-----------------------------------------------
.header-special-event{
    background: url(../imgs/header-specific-event.png);
    background-size: cover;
    max-width: 493px;
    max-height: 276px;
}
//--------------info-----------------
.col-special-specific-event{
    margin: 0;
    padding: 1.5em 0em;
}
.img-special-event-2{
    max-width: 157px;
    max-height: 217px;
    padding: 0;
    margin: 0;
}
.img-special-event-2{
    max-width: 183px;
    max-height: 176px;
    padding: 0;
    margin: 0;
}

.info-event{
    padding: 0;
    margin: 1em 0;
}
.category-description{
    font-size: 12px;
    font-weight: $light;
    padding: 1em 1em;
}
.category-link{
    text-decoration: none;
    color: $white;
    font-weight: $regular;
    font-size: 15px;
}
.category-link:hover{
    color:$orange;
}
.col-special-event{
    margin: 0;
    padding: .6em 1em 0 0 ;
}
.category-title{
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: $regular;
}
.special-section-category{
    background: $dark-green;
    padding: 4em 2em;
    margin: 0;
    color: $white;
    font-family: "Myriad Pro";
}
//--------------info-----------------
//----------------------------Related Event----------------------
.related-event{
    padding: 1em 2em 2em;
    background: $blue-light;
    max-width: 387px;
}
.related-title{
    color: $white;
    font-size: 20px;
    font-family: "Myriad Pro";
    font-weight: $regular;
}
.img-related-event{
    max-width: 56px;
    max-height: 67px; 
}
.register-buttom{
    font-size: 12px;
    font-weight: $regular;
    color: $white;
    border: .1em solid $white;
    text-align: center;
    text-decoration: none;
    border-radius: .5em;
    padding: 0.5em 2em;
    max-width: 120px;
    margin: auto;
}
.register-buttom:hover{
    color: $orange;
    border: .1em solid $orange;
    font-size: 14px;
}
//----------------------------footer--------------------------------
.container-footer{
    padding: 1em;
    background: $dark-green;
}